<div id="top-bar">
  <h1>KSLAB LIVING EXPENSES</h1>
  <div>
    <div id="new-button" class="medium primary btn">
      <a class="switch" gumby-trigger="#new-modal">New</a>
    </div>
  </div>
</div>

<table id="expense-table">
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Amout</th>
      <th>Date</th>
      <th>Responsible Member</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |exp| %>
    <tr class="itemize" data-id="<%= exp.id %>">
      <td><%= exp.purpose %></td>
      <td><%= (exp.income ? "+" : "-")+"&yen;#{exp.total_cost.comma_inserted}" %></td>
      <td><%= exp.readable_payday %></td>
      <td><%= exp.responsible %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="total-money">Total: <span class="<%= @klass%>"><%= @rest %></span></div>

<div class="modal" id="new-modal">
  <div class="content">
    <h3>New</h3>
    <a class="close switch" gumby-trigger="|#new-modal">
      <i class="icon-cancel"></i>
    </a>
    <form class="field" method="post">
      <div class="align-row">
	<input class="input normal" type="text" placeholder="Purpose" name="purpose" required>
	<label class="checkbox" for="income-checkbox">
	  <input id="income-checkbox" name="income" value="1" type="checkbox">
	  <span></span> Income
	</label>
      </div>
      <div class="align-row">
	<input type="date" class="align input normal" name="payday" required>
        <div class="align">
          <div class="picker">
          <select class="normal" name="responsible">
            <% user_list.each do |user| %>
              <option value="<%= user %>"><%= user %></option>
            <% end %>
          </select>
          </div>
        </div>
      </div>

      <hr>

      <div class="input-each-item align-row">
	<div>
	  <input class="input normal" type="text" placeholder="What did you buy?" name="item-names[]">
	</div>
	<div class="prepend field">
	  <span class="adjoined">&yen;</span>
	  <input class="number input xnarrow" type="number" min="1" name="item-prices[]">
	</div>
	<div class="prepend field">
	  <span class="adjoined">Num</span>
	  <input class="number input xnarrow" type="number" min="0" name="item-counts[]">
	</div>
      </div>

      <div id="one-more-button" class="medium info btn">
	<a>ONE MORE</a>
      </div>

      <div class="medium btn primary bottom-right-button">
	<button><input type="submit" value="CREATE"></button>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="item-modal">
  <div class="content">
    <h2></h2>
    <a class="close switch" gumby-trigger="|#item-modal">
      <i class="icon-cancel"></i>
    </a>
    <table id="modal-table">
      <thead></thead>
      <tbody></tbody>
    </table>
    <form class="field" method="post" onsubmit="return confirm('Are You Sure ?');">
      <input type="hidden" name="_method" value="delete">
      <div class="medium btn danger bottom-right-button">
        <button><input type="submit" value="DELETE"></button>
      </div>
    </form>
  </div>
</div>

