<!doctype html>

<head>
  <link type="text/css" rel="stylesheet" href="css/gumby.css" />
  <link type="text/css" rel="stylesheet" href="css/application.css" />
</head>

<body>

  <%= yield %>

  <script type="text/javascript" src="js/libs/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="js/libs/modernizr-2.6.2.min.js"></script>
  <script type="text/javascript" src="js/libs/gumby.min.js"></script>
  <script type="text/javascript" src="js/application.js"></script>
</body>

</html>
