
#top-bar > h1 {
    float: left;
    margin-left: 20px;
}

#top-bar > div {
    float: right;
    margin: 40px 50px;
}

.align-row {
    margin: 10px 0px;
}

.align-row > *{
    vertical-align: top;
    display: inline;
    margin: 10px 5px;
}

.total-money {
    margin-top: 50px;
    text-align: center;
    font-size: 24pt;
}

.total-money > span {
    font-weight: bold;
}

.plus {
    color: #3085d6;
}

.minus {
    color: #ca3838;
}

.bottom-right-button {
    float: right;
    margin-top: 70px;
    margin-right: 30px;
}